body{
    font-family: sans-serif;
    background-image: url(../image/bg.jpg);
    background-size: cover;
}
.br{
    padding: 10px 82px;
    background-color: rgb(255, 238, 0);
    font-size: 30px;
    font-family:Impact;
    text-decoration: none;
    text-decoration-color: black;
}
#top{
    padding: 30px
    background-image; url(../image/3.jpg);
}